{{!-- <div id="logMainPage" class="mx-3">
    <h1>Logs</h1>
    <div id="inspiration">Inspiration comes from here</div>
    <ul id="logMainList">
    </ul>
</div> --}}

<section class='banner'>
        <img src="https://lh3.googleusercontent.com/proxy/YfChKkelHMB1l6pVb8vXGTTxt1bbwWobJVwwlPGoDUBqOJ6c_N1uSIqhE0SESHSBhH6RTxZmZa26t-A" class='fitBg'>
        <div id="logMainPage" class="mx-3">
            <h1>Logs</h1>
            <div id="inspiration">Inspiration comes from here</div>
            <ul id="logMainList">
            </ul>
        </div>
    </section> 