<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Travel System</title>
    <link rel="stylesheet" href="/public/css/site.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <div class="mx-3" id="login-button" style="display:inline">
            <button class="btn-group navbar-toggler" onclick="location.href='http://localhost:3000/login'"
                    type="button" id="login">Login
            </button>
        </div>
        <div class="mx-3" id="logout-button" style="display:inline">
            <button class="btn-group navbar-toggler" onclick="location.href='http://localhost:3000/login/logout'"
                    type="button" id="logout">
                Logout
            </button>
        </div>
        <div class="mx-3" id="personalmainpage" style="display:inline">
            <button class="btn-group navbar-toggler" onclick="location.href='http://localhost:3000/login/personal'"
                    type="button" id="personalpage">
                Personal
                Main Page
            </button>
        </div>
        <div class="mx-3" id="makeplanpage" style="display:inline">
            <button class="btn-group navbar-toggler" onclick="location.href='http://localhost:3000/plan/make_plan'"
                    type="button" id="makeplan">
                Make
                Plan
            </button>
        </div>
        <div class="mx-3" id="websitemainpage" style="display:inline">
            <button class="btn-group navbar-toggler" onclick="location.href='http://localhost:3000/recommend'"
                    type="button" id="recommend">
                Recommend
                Page
            </button>
        </div>
        <div class="mx-3" id="websitelogpage" style="display:inline">
            <button class="btn-group navbar-toggler" onclick="location.href='http://localhost:3000/login/logs'"
                    type="button" id="logbutton">Find
                Interesting Logs
            </button>
        </div>

        <div class="dropdown mx-3">
            <button class="btn-group navbar-toggler" id="navbarDropdownMenuLink" role="button"
                    aria-labelledby="drop" data-bs-toggle="dropdown">Query Something
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <div class="col">
                    <label for="Hotel" class="mx-3">Find Hotel in City</label>
                    <input class="form-control mx-3 w-75 mb-1" id="Hotel" type="text" name="city">
                </div>
                <button class="dropdown-item mb-1" onclick="location.href='/price/meal'" type="button" role="menuitem">
                    Find Meal
                </button>
                <button class="dropdown-item mb-1" onclick="location.href='/price/airline'" type="button"
                        role="menuitem">Find Airline
                </button>
            </div>
        </div>

    </nav>
</header>

{{{body}}}

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
<script src="/public/js/personal.js"></script>
<script src="/public/js/recommend.js"></script>
<script src="/public/js/setPlan.js"></script>
<script src="/public/js/hotelFind.js"></script>

</body>

</html>