<div id='covid-reminder'>Find a COVID-19 vaccine: Search <a href="https://www.vaccines.gov/"> vaccines.gov</a>, text your ZIP code to 438829, or call 1-800-232-0233 to find locations near you.</div>


    <section class='banner'>
        <img src="/public/image/canada-d1.jpeg" class='fitBg'>
        <div class='content'>
            <h2>Totem Discovery</h2>
            <p>from $2676 excluding flights</p>
            <p>15 nights | Jun-sep</p>
            <p>Canada  | self Drive</p>
        
        </div>
   </section>

    <section class='destination' id='destination'>
        <div class='content'>
            <h2 class='titleText-left'>HIGHLIGHTS</h2>

        </div>
        <div class='destinationList'>
            <div class='box'>
                <div class='imgBx'>
                    <img src="/public/image/canada-hl-1.jpeg" class='fitBg'>
                </div>
                <div class='content'>
                    <span>Explore Vancouver Island plus Jasper, Banff and Whistler</span>
                </div>
                
            </div>
            <div class='box'>
                <div class='imgBx'>
                    <img src="/public/image/canada-hl-2.jpeg" class='fitBg'>
                </div>
                <div class='content'>
                    <span>Watch for black bears, whales and seals from Quadra Island</span>
                </div>
                
            </div>
           <div class='box'>
                <div class='imgBx'>
                    <img src="/public/image/canada-hl-3.jpeg" class='fitBg'>
                </div>
                <div class='content'>
                    <span>Cruise Canada's Inside Passage from Port Hardy to Prince Rupert</span>
                </div>
                
            </div>
        </div>
    </section>

    <section class='destination' id='destination'>
        <div class='content'>
            <h2 class='titleText-left'>ITINERARY</h2>
            <p class='titleText-explan'>The itinerary shown is an example of this self-drive holiday. We have many other hotels and route recommendations which can be tailored to your requirements. Please discuss with our Travel Specialists who can put together a bespoke itinerary for you.</p>
        </div>
        <div class='titleText-Day' >
        
        <h4>Day 1 | Vancouver - Victoria(68 KM)</h4>
        <p>Depart Vancouver and make your way to the Tsawwassen Ferry Terminal for your scenic 90 minute journey across the beautiful Georgia Strait to Vancouver Island. On arrival continue to the charming harbour city of Victoria, where you can enjoy your choice of included excursion from the following options:</p>
        <p><b>Butchart Gardens Admission</b> - this National Historic Site of Canada is renowned for its stunning floral displays set over 55 acres of gardens.</p>
        <p><b>Eat like a Canadian Food Tour</b> - from local ingredients to historic dishes, this tour is a great introduction to Canadian culinary culture. Sip and savour local cuisine, explore the iconic Inner Harbour, and meet the chefs and owners that make Victoria such an exciting culinary hot spot.</p>
        <p><b>Whale Watch Cruise</b> - search for orcas on the Salish Sea on a 3.5 hour guided whale watching cruise, complete with hydrophones to bring the underwater world to life.</p>
        <p>The rest of the day is free to explore Victoria at your leisure, with its turn of the century architecture and strong British traditions.</p>
        <div><img src="/public/image/canada-day1.jpeg"></div>
        
        <h4>Day 2 | Victoria - Campbell River (269 KM)</h4>
        <p>Travelling north on the Island Highway, pass through Duncan, the ‘City of Totems’. Further north is the artist community of Chemainus, where you can admire the giant murals which adorn the walls throughout the town. By late afternoon arrive into Campbell River for a 2-night stay.</p>
        
        <h4>Day 3 | Wildlife Safari Cruise</h4>
        <p>Enjoy a memorable boat cruise among the Discovery Islands and observe local wildlife in their natural habitat. Watch for Stellar sea lions, seals, minke whales, orcas and pacific white-sided dolphins. You’ll see bald eagles swoop from the tree tops and majestic herons fishing in the tidal pools.</p>
        <div><img src="/public/image/canada-day3.jpeg" alt=""></div>
        
        <h4>Day 4 | Campbell River - Port Hardy (241KM)</h4>
        <p>Today you will continue your journey north. Near Port McNeill you may wish to take an optional whale watching cruise into the waters of Johnson Strait. Your day ends in the fishing community of Port Hardy.</p>
        
        <h4>Day 5 | Port Hardy - Inside Passage cruise - Prince Rupert</h4>
        <p>Embark on a full day of cruising the sheltered waters of Canada's Inside Passage with BC Ferries. During the crossing (approximately 16 hours, or more depending on sea conditions), a wonderful array of snow capped mountains combined with rich forests provides a background for a series of dramatic fjords. Killer whales, grey whales, sea lions and playful porpoise often appear in these waters. Arrive in the seaport of Prince Rupert late evening.</p>
        
        <h4>Day 6 | Prince Rupert - Smithers (364 KM)</h4>
        <p>Follow the winding and narrow Yellowhead highway, hugging the Skeena River for most of the way. Pass through the mining town of Terrace and into Smithers. Located in the centre of the Bulkley Valley at the foot of the Hudson Bay Mountain, Smithers offers excellent opportunities for outdoor adventures.</p>
        
        <h4>Day 7 | Smithers - Price George (372 KM)</h4>
        <p>Depart Smithers, continuing along the Yellowhead highway. Passing through Houston, known as the Steelhead Capital and home to the world's biggest fly rod; over 18 metres (59 ft) in length! Next you will travel through Burns Lake - fishing village, Vanderhoof - nature lover's paradise, and into Prince George. Prince George is the largest service centre for the northern part of British Columbia, perfectly situated at the crossroads of two major highways and two railways.</p>
        
        <h4>Day 8 | Prince George - Jasper (376 KM)</h4>
        <p>Enjoy another unforgettable day of scenic driving as you follow mountain passes and raging rivers winding your way to Jasper for a two-night stay.</p>
        <div><img src="/public/image/canada-day8.jpeg" alt=""></div>
        
        <h4>Day 9 | Jasper</h4>
        <p>Enjoy your choice of included excursion from the following options:</p>
        <p>Maligne Lake Cruise - enjoy a scenic boat trip on one of Canada's most spectacular lakes, home to the much-photographed Spirit Island.</p>
        <p>Jasper River Raft Float - take a gentle raft trip on the Athabasca River for a unique perspective of Jasper National Park.</p>
        <p>Jasper Nature Walk - this guided walk offers spectacular views of jagged peaks, forests, meadows, marshes, streams, and stunning glacial lakes.</p>
        
        <h4>Day 10 | Jasper - Banff (265 KM)</h4>
        <p>Set off on an incredibly scenic drive taking you through the spine of the Canadian Rockies. View a never-ending procession of mammoth mountains, jagged peaks, over 100 glaciers and pristine emerald colour lakes. Along the way see such sights as the Columbia Icefield and take an Ice Explorer ride out onto the glacier. Stop at the award-winning Glacier Skywalk to experience a glass-floored observation platform 280m over spectacular glacier-formed valleys and rushing waterfalls. Also watch for the Sarbach Glacier, Peyto Lake, Bow Lake, with the Bow Glacier providing the backdrop, and Crowfoot Glacier before your arrival into Lake Louise. From Lake Louise choose the Bow Valley Parkway, beside the Bow River with an option for you to take a stop at Johnston Canyon and walk along the paved footway to either the lower or upper waterfalls before continuing to Banff. Please note: Mountain lakes in this region will be frozen through to mid June.</p>
        <div><img src="/public/image/canada-day10.jpeg" alt=""></div>
        
        <h4>Day 11 | Banff</h4>
        <p>Today you can enjoy your choice of included excursion from the following options:</p>
        <p>Banff Gondola - enjoy impressive views over Banff National Park with a gondola ride to the top of Sulphur Mountain.</p>
        <p>Lake Minnewanka Cruise - take a scenic cruise across the turquoise-hued Lake Minnewanka to Devil’s Gap.</p>
        <p>River Explorer Canoe Tour - pick up a paddle for a gentle exploration on the Bow River.</p>
        <p>Bow River Horseback Adventure - saddle up for a horse ride along the shores of Bow River.</p>
        <div><img src="/public/image/canada-day11.jpeg" alt=""></div>
        
        <h4>Day 12 | Banff - Sun Peaks Resort (496 KM)</h4>
        <p>Leaving Banff National Park, travel to Yoho National Park where you cross the continental divide. Then travel on through Glacier National Park and 'Rogers Pass' with spectacular mountain vistas in every direction. Continue through the Monashee Mountain Range and past the breathtaking views of Shuswap Lake. Drive through Kamloops and start to travel north up to the ski resort town of Sun Peaks where you will spend the night.</p>
        
        <h4>Day 13 | Sun Peaks - Gold Bridge (327 KM)</h4>
        <p>Begin the day traveling along Logan Lake route to the gold rush town of Cache Creek. Continue the journey south to Lillooet, known as the land of the Gold Rush Trail and was 'Mile Zero' of the Old Caribou Wagon Road during the Gold Rush Years. Now the area is home to the largest Canadian producers of the medicinal plant, Ginseng. Departing Lillooet travel for 2 hours along a well maintained gravel road to Tyax Lodge nestled on the shores on Tyaughton Lake.</p>
        
        <h4>Day 14 | Gold Bridge</h4>
        <p>Tyax Lodge offers a wide array of optional activities for all ages, including western horseback riding, floatplane adventures over the Chilcotin Wilderness, fishing, hiking lawn games (including bocce, croquet, horseshoes, volleyball and badminton), free usage of canoes, stand-up paddle boards, kayaks), a disc golf course and interpretive nature trails.</p>
        
        <h4>Day 15 | Gold Bridge - Whister (150 KM)</h4>
        <p>Departing Gold Bridge, travel back to Lillooet and onto the Duffey Lake Road to Whistler. On the upper elevations of the Duffey Lake Road enjoy breath-taking views of Joffee Glacier and snow capped Mount Currie that rises to a height of 2,596 meters (8,518 feet). Continue on through to the mountain village of Whistler for an overnight stay.</p>
        <div><img src="/public/image/canada-day15.jpeg" alt=""></div>

        <h4>Day 16 | Whistler -Vancouver (122 KM)</h4>
        <p>Depart Whistler at your own leisure along the scenic Sea to Sky Highway to Vancouver. Highlights along the way include the cascading Shannon Falls and the Stawamus Chief Rock where climbers from all over the globe migrate to climb the granite cliffs. Continue to Vancouver where your self-drive journey ends.</p>
        </div>
    </section>