<div id='covid-reminder'>Find a COVID-19 vaccine: Search <a href="https://www.vaccines.gov/"> vaccines.gov</a>, text your ZIP code to 438829, or call 1-800-232-0233 to find locations near you.</div>


    <section class='banner'>
        <img src="https://images4.alphacoders.com/736/736489.jpg" class='fitBg'>
        <div class='content'>
            <h2>Wonders of the South West</h2>
            <p>from $990 excluding flights</p>
            <p>7 nights | May-sep</p>
            <p>iceland  | self Drive</p>
        
        </div>
    </section>

    <section class='destination' id='destination'>
        <div class='content'>
            <h2 class='titleText-left'>HIGHLIGHTS</h2>

        </div>
        <div class='destinationList'>
            <div class='box'>
                <div class='imgBx'>
                    <img src="https://img2.wallspic.com/previews/5/4/8/1/5/151845/151845-bing_dao-landmannalaugar-thrsmrk-an_zhuang_de_feng_jing-duo_shan_de_de_mao-x750.jpg" class='fitBg'>
                </div>
                <div class='content'>
                    <span>Discover the legendary Thorsmork valley</span>
                </div>
                
            </div>
            <div class='box'>
                <div class='imgBx'>
                    <img src="https://wallpapercave.com/wp/wp6640205.jpg" class='fitBg'>
                </div>
                <div class='content'>
                    <span>See the black-sand beaches and waterfalls on the South Coast</span>
                </div>
                
            </div>
           <div class='box'>
                <div class='imgBx'>
                    <img src="http://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1200,h_720,f_auto/w_74,x_13,y_13,g_south_west,l_klook_water/activities/lhpr4zn7zsmulpxbwsbx/GoldenCircleTourandKeridCraterDayTour.jpg" class='fitBg'>
                </div>
                <div class='content'>
                    <span>See the natural treasures of Iceland’s iconic Golden Circle route</span>
                </div>
                
            </div>
        </div>
    </section>

    <section class='destination' id='destination'>
        <div class='content'>
            <h2 class='titleText-left'>ITINERARY</h2>
        </div>
        <div class='titleText-Day'>
        <h4>Day 1|arrive iceland</h4>
        <p>Fly to Keflavik International Airport and collect your rental car then drive to Hotel Ranga in the heart of the Icelandic countryside for a three night stay. Dinner included.</p>
        <h2>Hotel Ranga, near Hella</h2>
        <div><img src="https://www.discover-the-world.com/app/uploads/2020/05/hotel-ranga-restaurant-exterior-rowellphotography-800x0-c-center.jpg" alt=""></div>
        
        <h4>Day 2|explore the south coast</h4>
        <p>Make a stop at the iconic Seljalandsfoss and the magical Gljufrafoss waterfalls then continue to the famous Skogafoss, these are all must visits and amongst the finest of Iceland's many waterfalls. Continue towards the beautiful small village of Vik, stopping on the way by Reynisfjara black sand beach and Dyrholaey bird cliffs and rock formations. After an adventurous day return to Hotel Ranga for dinner (included) and a relax in the hot tub.</p>
        <div><img src="https://www.discover-the-world.com/app/uploads/2020/05/south-iceland-vik-church-and-reynisdrangar-sea-stacks-sunny-day-istk-800x0-c-center.jpg" alt=""></div>
        
        <h4>Day 3|explore Thorsmork and Eyjafjallajokull</h4>
        <p>Take an optional superjeep tour into Thorsmork, a valley named after Thor the Norse god of thunder. The guide with take on a thrilling journey through the valley crossing glacial rivers and visiting waterfalls as well as onto Eyjafjallajokull, the glacier atop a volcano which infamously erupted back in 2010. After an exciting day return to Ranga for another cosy evening and delicious dinner (included).</p>
        <div><img src="https://www.discover-the-world.com/app/uploads/2020/06/iceland-thorsmork-glacial-river-istk-800x0-c-center.jpg" alt=""></div>
        
        <h4>Day 4|Ranga - Golden Circle - Husafell</h4>
        <p>After breakfast check out of Hotel Ranga and head towards the famous Golden Circle route. Begin by visiting Gullfoss, a two-tiered waterfall often framed by a rainbow on sunny days. Continue to Geysir hot spring area and witness Strokkur erupting 30 ft into the air. Finally head to Thingvellir National Park, where the Eurasian and North American tectonic plates meet. It is also the site of the world’s oldest parliament - Althingi, which was formed by the vikings in AD 874.</p>
        <p>Continue to Husafell valley in West Iceland where you'll spend the next three nights at Hotel Husafell.</p>
        <h2>Hotel Husafell</h2>
        <div><img src="https://www.discover-the-world.com/app/uploads/2019/05/west-hotel-husafell-exterior-summer-pathway-800x0-c-center.jpg" alt=""></div>
        
        <h4>Day 5|Husafell valley</h4>
        <p>Explore the nearby area and visit striking Hraunfossar waterfall, where the stream of water flows deep in the lava field until emerging through the river bank in a broad cascade. Continue to Deildartunguhver, Europe’s most powerful hot spring, providing 180 litres per second of boiling water. Explore the vast Hallmundarhraun lava field and take part an optional excursion to visit Vidgelmir lava cave, the biggest in Iceland.</p>
        <div><img src="https://www.discover-the-world.com/app/uploads/2019/05/west-hotel-husafell-scenic-surrounds-5-800x0-c-center.jpg" alt=""></div>
        <div><img src="https://www.discover-the-world.com/app/uploads/2020/05/west-iceland-deildartunguhver-hot-spring-area-doll-800x0-c-center.jpg" alt=""></div>
        <div><img src="https://www.discover-the-world.com/app/uploads/2019/05/west-hotel-husafell-scenic-surrounds-into-the-glacier-langjokull-800x0-c-center.jpg" alt=""></div>
        
        <h4>Day 6|explore the Snaefellsnes Peninsula</h4>
        <p>Spend the day exploring the beautiful landscapes of Snaefellsnes. On a clear day you are able to see the top of Snaefellsjokull glacier, a dormant volcano which is the starting point of Jules Verne’s novel- Journey to the Center of Earth. As you drive around the peninsula, make sure to visit Londrangar basalt cliffs, Djupalonsandur beach and now famous Kirkjufell mountain.</p>
        <p>Alternatively take an optional excursion 'Into the Glacier'. The unique adventure on Langjokull glacier begins with a journey by super truck - an old NATO missile launcher converted to a comfortable passenger vehicle, which takes visitors to the impressive man made ice tunnel on top of the glacier. The guided tour offers information on glaciers, past volcanic eruptions in Iceland and how this impressive project was conceived.</p>
        <p>Return to Husafell for a peaceful evening and a delicious dinner (additional cost).</p>
        <div><img src="https://www.discover-the-world.com/app/uploads/2020/05/iceland-snaefellsnes-budir-church-rth-800x0-c-center.jpg" alt=""></div>
        
        <h4>Day 7|Husafell - Reykjanes Peninsula</h4>
        <p>Leave Husafell valley and head south taking a scenic detour around Hvalfjordur bay. Then head to Reykjanes Peninsula where you can choose to visit the world famous Blue Lagoon or explore the many sights. The Bridge Between Two Continents is a structure built to symbolise the close connection to both Europe and North-America. See the boiling mud pools and steam vents of Gunnuhver geothermal area and drive around Kleifarvatn lake. Check into the Northern Light Inn for you final night and enjoy the complimentary spa access.</p>
        <div><img src="https://www.discover-the-world.com/app/uploads/2020/05/west-iceland-driving-beside-hvalfjordur-rth-800x0-c-center.jpg" alt=""></div>
        <div><img src="https://www.discover-the-world.com/app/uploads/2020/05/iceland-reykjanes-peninsula-gunnuhver-hot-springs-istk-800x0-c-center.jpg" alt=""></div>
        <h2>Northern Light Inn</h2>
        <div><img src="https://www.discover-the-world.com/app/uploads/2018/09/iceland-south-west-northern-light-inn-deluxe-room-bw-800x0-c-center.jpg" alt=""></div>
        
        <h4>Day 8|depart Iceland</h4>
        <p>Drive the short distance to Keflavik airport, drop off your rental vehicle and check-in on your flight home.</p>
        </div>
    
    </section>