<div id='covid-reminder'>Find a COVID-19 vaccine: Search <a href="https://www.vaccines.gov/"> vaccines.gov</a>, text your ZIP code to 438829, or call 1-800-232-0233 to find locations near you.</div>


    <section class='banner'>
        <img src="https://www.10wallpaper.com/wallpaper/1366x768/1901/Norway_Lofoten_Islands_Drone_HD_Photography_1366x768.jpg" class='fitBg'>
        <div class='content'>
            <h2>Norwegian Fjord Odyssey</h2>
            <p>from $1682 excluding flights</p>
            <p>12 nights | May-sep</p>
            <p>Norway  | self Drive</p>
        
        </div>
    </section>

    <section class='destination' id='destination'>
        <div class='content'>
            <h2 class='titleText-left'>HIGHLIGHTS</h2>

        </div>
        <div class='destinationList'>
            <div class='box'>
                <div class='imgBx'>
                    <img src="https://img3.goodfon.com/wallpaper/nbig/0/d0/norway-trollstigen-doroga.jpg" class='fitBg'>
                </div>
                <div class='content'>
                    <span>Wind your way up the dramatic Trollstigen route</span>
                </div>
                
            </div>
            <div class='box'>
                <div class='imgBx'>
                    <img src="https://3iqhm91wtiv21y4zza4dqwj2-wpengine.netdna-ssl.com/wp-content/uploads/Norway-Alesund-From-Ashes-Art-Nouveau-1440x961.jpg" class='fitBg'>
                </div>
                <div class='content'>
                    <span>Discover the art nouveau town of Alesund</span>
                </div>
                
            </div>
           <div class='box'>
                <div class='imgBx'>
                    <img src="http://up.meipic.com/13/pic_source/90/90/e7/9090e7a643f2e9b842af857cd6337c7f.jpg" class='fitBg'>
                </div>
                <div class='content'>
                    <span>Explore spectacular fjord scenery including Geirangerfjord</span>
                </div>
                
            </div>
        </div>
    </section>

    <section class='destination' id='destination'>
        <div class='content'>
            <h2 class='titleText-left'>ITINERARY</h2>
            <p class='titleText-explan'>The itinerary shown is an example of this self-drive holiday. We have many other hotels and route recommendations which can be tailored to your requirements. Please discuss with our Travel Specialists who can put together a bespoke itinerary for you.
            </p>
        </div>
        <div class='titleText-Day'>
        <h4>Day 1|arrive in Bergen</h4>
        <p>Arrive to Bergen and transfer by regular airport coach service to the city centre (payable locally) and then a short walk or taxi to your accommodation at Clarion Hotel Admiral or similar for two nights on breakfast basis.</p>
        
        <h4>Day 2|exploring Bergen</h4>
        <p>A day at leisure to explore this wonderful city. One of the most popular things to do here in Norway's second largest city is admire the panoramic views from the top of Mount Floyen, the most visited of the seven mountains that surround Bergen. The funicular railway transports passengers from the city centre to a height of 320m in just eight minutes.</p>
        <p>Alternatively, Torget, the excellent waterfront fish market, which actually sells all kinds of produce and handicrafts, is also well worth a visit. The historical wooden wharf buildings at Bryggen, recognised by UNESCO as a World Heritage Site, now house a collection of studios for artists and crafts people and make for a fascinating afternoon's stroll. The city also presents some great photo opportunities - in fact there is so much to see and do here that is it highly likely you'll want to extend your stay!</p>
        <div><img src="https://www.discover-the-world.com/app/uploads/2018/08/norway-bergen-bryggen-detail-istk-800x0-c-center.jpg" alt=""></div>
        <div><img src="https://www.discover-the-world.com/app/uploads/2018/05/norway-fjords-bergen-funicular-vb-800x0-c-center.jpg" alt=""></div>
        <div><img src="https://www.discover-the-world.com/app/uploads/2018/08/norway-bergen-market-square-istk-800x0-c-center.jpg" alt=""></div>
       
        <h4>Day 3|Bergen - Sandane</h4>
        <p>Make your way to the car rental office and collect your vehicle. Drive north through the lush fjord scenery, crossing Norway's deepest, Sognefjord at Yttre Oppedal (ferry, payable locally). Stay overnight in at Sandane in the heart of Fjord Norway.(approx 4.5 hours / 256 km)</p>
        
        <h4>Day 4|Sandane - Alesund</h4>
        <p>Continue to Alesund via three ferry journeys (payable locally). Check into Hotel Brosundet for your two nights accommodation. Spend time exploring Alesund and enjoy the traditional waterfront buildings which are quaint, colourful and highly photogenic.(approx 3.5 hours / 131 km)</p>
        
        <h4>Day 5|exporing Alesund</h4>
        <p>Spend time at leisure enjoying this wonderful art nouveau town, Norway's largest fishing town. Much of the town was rebuilt in 1907 following a huge fire that destroyed the old centre. For the best views of this lovely waterfront town, climb 418 steps to the top of Aksla hill - it's worth the effort! Perhaps take a guided city tour, visit a museum or two or for the more adventurous try one of the wildlife sea safaris on a rib boat. There is plenty here to do and with a good choice of restaurants and cafes you may need longer.</p>
        
        <h4>Day 6|Alesund - Geiranger</h4>
        <p>Set off on a drive which hugs the edge of Romsdalfjord to the little town of Andalsnes, known as the 'village between fell and fjord'. Surrounded on three sides by lofty peaks, from here it's onto the 'Golden Route' which winds its way south to Gerainger. This amazing trans-mountain road, which wouldn't look out of place in a Top Gear report, negotiates the landscape through 11 hairpin bends and steep inclines. You'll see Trollveggen (Troll's Wall), the highest vertical cliff in Europe - at 1100m, not surprisingly a favourite with experienced mountaineers. Continue your ascent on the famous Trollstigen (Trolls ladder) past Stigfossen waterfall, which drops 200m close enough to the road to cover vehicles in spray. As the land levels out stop at Utsikten for another great panoramic view.</p>
        <p>Continue on Highway 63 to Valldall, descending to Norddalsfjord, perhaps stopping at a roadside stall to buy strawberries. Take the ferry across to Eidsdal (payable locally) and climb to the fjord-side town of Geiranger. This section is known as Ornesvingen or 'Eagle's road' - the highest point is 620m above sea level and overlooks the Seven Sisters waterfalls. Check into Hotel Union Geiranger for a two night stay.(approx 2.5 hours / 112 km)</p>
       
        <h4>Day 7|exploring Geiranger</h4>
        <p>Enjoy exploring the hotel and its scenic surrounds. To see Geirangerfjord at its best perhaps drive to one of the many viewpoints offering stupendous vistas. Flydalsjuvet is a mere 320m above sea level whereas Dalsnibba comes in at 1500m and offers an iconic view over the fjord. Perhaps walk up to Skagefla, a perfectly preserved, abandoned farm or visit the striking octagonal church, Geiranger Kirke, built in 1842.</p>
        <div><img src="https://www.discover-the-world.com/app/uploads/2018/07/norway-fjords-geiranger-town-view-istk-800x0-c-center.jpg" alt=""></div>
        <div><img src="https://www.discover-the-world.com/app/uploads/2018/05/norway-fjords-seven-sisters-geirangerfjord-adstk-800x0-c-center.jpg" alt=""></div>
       
        <h4>Day 8|Geiranger - Balestrand</h4>
        <p>There is a choice of route for your journey to Balestrand. One option is to take the car ferry to Hellesylt (payable locally) and drive on road 60 heading south to Stryn. Alternatively, drive south from Geiranger to road 15 and continue to Stryn this way. At nearby Briksdal, take an easy 45-minute walk to the Briksdalsbreen glacier arm, part of Jostedalsbreen National Park.Beyond Stryn is the village of Loen where you can take the Skylift from Hotel Alexander for a scenic 5-minute journey to the top of the mountain to to explore some hiking trails. Continue your drive to Skei and onwards along Sogndalsfjord making a detour to the famous Urnes Stave Church, the oldest in Norway. Continue to Balestrand where you'll check in at Hotel Kviknes for a two night stay on half board basis.(approx 5.5 hours / 285 km)</p>
        
        <h4>Day 9|explore Balestrand</h4>
        <p>A day at leisure to explore Balestrand on foot or by bicycle, make use of the facilities at your hotel, go hiking in the mountains, take a boat trip or perhaps rent fishing equipment or a rowing boat and head down to the water.</p>
        
        <h4>Day 10|Balestrand - Flam</h4>
        <p>Check out of the hotel and take the car ferry from nearby Dragsvik to Vangsnes (payable locally). Continue to Flam for an overnight stay at the Flamsbrygga Hotel.</p>
        <p>Take a trip on the Flamsbana corkscrew railway, one of the world's steepest railways. A return trip takes only a couple of hours and is definitely recommended. The 29km branch line, dating from the 1920's, climbs 900m through twists, turns and tunnels including a couple of 180 degree bends, hugging mountains and passing elegant waterfalls. Perhaps opt for a single ticket then hike or bike the 20km back to Flam, which is mostly downhill.(approximate driving time 2.5 hours / distance 125 km).</p>
        <div><img src="https://www.discover-the-world.com/app/uploads/2018/10/norway-fjords-flam-cyclists-vflm-sh-800x0-c-center.jpg" alt=""></div>
        <div><img src="https://www.discover-the-world.com/app/uploads/2018/10/norway-fjords-flam-stave-church-in-undredal-vflm-ja-800x0-c-center.jpg" alt=""></div>
       
        <h4>Day 11|Flam - Lofthus</h4>
        <p>Take the road from Flam to Voss, then continue and cross the Hardangerfjord bridge (toll payable) and a short drive south along the shores of Sorfjorden. At Lofthus, check into Hotel Ullensvang for a two night stay.(approx 2.5 hours / 125 km)</p>
       
        <h4>Day 12|around Lofthus</h4>
        <p>A day at leisure to enjoy the fantastic variety of facilities at Hotel Ullensvang. Try the indoor swimming pool or brave a dip in the fjord; play tennis; spend time in the fitness suite; go kayaking; hiking or rent a bicycle and explore.</p>
        
        <h4>Day 13|Lofthus - Bergen</h4>
        <p>Return to Bergen in a choice of routes - take the scenic option via Odda or the quicker route back to Brimnes. Drop off your car at the airport before your flight home.</p>
        </div>
    </section>