<main class="mb-3">
    <div id="logs-page">
        <h1 class="mx-3">My Logs</h1>
        <div id="logs-searchbutton">
            <button type="submit">Search</button>
        </div>

        <ul id="logList">
        </ul>
        <div id="addlogbutton">
            <button onclick="location.href='http://localhost:3000/login/personal/plans'" type="button" id="log-add">Add
                a log
            </button>
        </div>
    </div>
</main>