<main>
    <div id="plans-page">
    <h1>My Plans</h1>
    {{!-- <form id="search-plans"  name="plans-search">
        <div>
            <label>Search：</label>
            <input id="plan-search" type="text" name="thePlans" />
        </div>
    </form>
    <div id="plans-searchbutton">
        <button type="submit">Search</button>
    </div> --}}
    
    <ul id="plan-List">
    </ul>
    <div id="planItem">
    </div>

    <div id="addplanbutton">
        <button onclick="location.href='http://localhost:3000/plan/make_plan'" type="button" id="plan-add">Add a plan</button>
	</div>
    </div>
</main>