<main>
    <div id="reviews-page">
    <h1>My Reviews</h1>
    <ul id="userreviewList">
    </ul>
    <div id="addreviewbutton">
        <button onclick="location.href='http://localhost:3000/login/logs'" type="button" id="review-add">Add a review</button>
	</div>
    </div>
</main>